* {
  padding: 0;
  margin: 0;
}

.nav_bar {
  background-color: #383838;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_resize {
  width: 900px;
  height: 30px;
  display: flex;
  justify-content: space-between;  
  padding: 0 5px 0 5px;
}

.left_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.left_nav .logo {
  display: flex;
  align-items: center;
  color: white;
  font-style: Helvetica Neue;
}

.left_nav .logo img {
  width: 30px;
}

.logo_txt {
  font-family: Helvetica Neue, Arial, sans-serif;
  margin-left: 5px;
  color: white;
}

.menu {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #888888;
  font-family: Helvetica Neue, Arial, sans-serif;
}

.active_menu {
  color: #d35266;
}

.menu i {
  margin-right: 5px;
}

.left_nav .btn_post {
  background-color: #d35266;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  height: 30px;
  border-radius: 2px;
}

.menu i {
  font-size: 9px;
}

.right_nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}

.right_nav .social_link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-family: Helvetica Neue, Arial, sans-serif;
}

.social_link i {
  color: #888888;
  margin-right: 5px;
  font-size: 20px;
}

.social_link img {
  width: 30px;
  border-radius: 50%;
  margin-left: 5px;
}

.hero {
  width: 100%;
  height: 45vh;
  background-color: #d35266;
  display: flex;
  justify-content: space-around;
  }

.hero .with_bg {
  width: 900px;
  height: 100%;
  background-image: url("images/LogoTransparent.png");
  background-repeat: no-repeat;
  background-size: 40% 100%;
}

.with_bg,
.hero_txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hero_txt h4 {
  margin-top: 10px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.hero .search_box {
  width: 100%;  
  background-color: white;
  height: 50px;

}